*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.cover{
    min-height: 100vh;
    background-color: #303030;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.div-game-name{
    display: flex;
    flex-direction: column;
    color: #eeeeee;
}

.row1{
    font-size: 5rem;
    margin-bottom: -20px;
}

.row2{
    font-size: 4rem;
}

.start-btn{
  outline: none;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  font-size: 1rem;
  background: transparent;
  padding: 1em;
  cursor: pointer;
  transition: 0.2s ease;
}

.start-btn:hover{
    transform: scale(1.1);
}

.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgRow1{
    margin-bottom: 20px;
}

.imgRow1 img{
    width: 90px;
}

.imgRow2{
    display: flex;
    justify-content: space-between;
}

.imgRow2 img{
    width: 90px;   
}

.imgRow2 img:first-child{
    margin-right: 25px;   
}

.game-div{
    min-height: 100vh;
    background-color: #3d3d3d;
    color: white;
}

.user-computer{
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 500;
}

.user div{
    font-size: 1rem;
    color: rgb(173, 173, 173);
}

.score-board{
    display: flex;
    background-color: red;
    border-radius: 5px;
    margin-left: 30px;
}

.user-score{
    font-size: 2.5rem;
    padding: 20px;
    border-right: 2px solid #3d3d3d;
}

.computer-score{
    font-size: 2.5rem;
    padding: 20px;
}

.computer{
    font-size: 2rem;
    font-weight: 500;
}

.choice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 12%; */
}

.user-choice-img{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 20px;
}

.user-choice-img img{
    cursor: pointer;
    transition: 0.1s ease;
}

.user-choice-img img:hover{
    transform: scale(1.1);
}

.user-choice-img img:not(:last-child){
    margin-right: 20px;
}

.computer-choice-img{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-right: 30px;
}

.result{
    margin-top: 100px;
    font-size: 2rem;
    font-weight: 400;
    color: #eee;
    text-align: center;
    transition: 0.2s ease;
}

.restart-div{
    display: flex;
    justify-content: center;
}

.restart{
    outline: none;
    border: 2px solid white;
    border-radius: 6px;
    color: white;
    font-size: 1rem;
    background: transparent;
    padding: 1em;
    margin: 1rem auto;
    cursor: pointer;
    transition: 0.2s ease;
}
  
.restart:hover{
    transform: scale(1.1);
}

.green{
    outline: white;
    color: rgb(77, 255, 77);
    font-size: 2.5rem;
    transition: 0.2s;
}

.red{
    color: rgb(255, 36, 36);
    font-size: 2.5rem;
    transition: 0.2s;
}

.blue{
    color: rgb(85, 85, 255);
    font-size: 2rem;
    transition: 0.2s;
}